<!DOCTYPE html>
<html>
<head>
    <title>Amortization Schedule</title>
</head>
<body>
    <h1>Loan Amortization Schedule</h1>
    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>Payment Number</th>
            <th>Payment Amount</th>
            <th>Principal Payment</th>
            <th>Interest Payment</th>
            <th>Remaining Balance</th>
        </tr>
        {% for row in schedule %}
        <tr>
            <td>{{ row['Payment Number'] }}</td>
            <td>{{ row['Payment Amount'] }}</td>
            <td>{{ row['Principal Payment'] }}</td>
            <td>{{ row['Interest Payment'] }}</td>
            <td>{{ row['Remaining Balance'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Back to Calculator</a>
</body>
</html>
